[Unit]
Description=Red Discord Bot (Fluxer)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=RED_DPY_DEBUG=1
ExecStart=%h/redenv/bin/python -O -m redbot fluxmusicbot --no-prompt
WorkingDirectory=%h/.local/share/redbot
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
